.buttonContainter
    display: flex
    flex-direction: row

.twoImagesContainer 
    display: flex
.oneImage 
    flex: 1
    padding: 1em
    border: solid
    background-color: #d1aea4

video
    margin: 0
